.section-movil{
    max-width: 375px;
    padding: 0.1rem;
}

/****/
.section-Andersson {
    display: flex;
    flex-direction: column;
}

.dibujo{
position: absolute;
left: 124.61px;
top: 161.13px;
}

.dibujo_2{
position: absolute;
width: 375px;
height: 385px;
left: 0px;
top: 428px;
}

