.img_patojo_lapiz{
    margin-top: 10rem;
    margin-left: -5rem;
}

.simbolo {
 margin-top: -10rem;
 margin-left: 1rem;
}

.color  {
position: absolute;
width: 100vw;
height: 100vh;
display: flex;
flex-direction:row ;
justify-content: space-around;
padding-top: 5rem;
}
